.DS_Store

/build
/solver/build
/solver/test.cbf
/solver/test.sol
/rewriter/*.dot 
/rewriter/*.svg
/ffi/build
/ffi/lake-packages 
/lake-packages
*.olean

/playground
/CvxLean/Tactic/Solver/Mosek/Path.lean
